In [2]:
import pandas as pd

notas = pd.read_csv("ratings.csv")

.head() -> mostra as 5 primeiras linhas

In [3]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

.shape -> mostra o formato da tabela (linhas, colunas)

In [4]:
notas.shape

(100836, 4)

### Renomeia colunas

In [7]:
notas.columns = ["usuarioID", "filmesID", "nota", "momento"]
notas.head()

   usuarioID  filmesID  nota    momento
0          1         1   4.0  964982703
1          1         3   4.0  964981247
2          1         6   4.0  964982224
3          1        47   5.0  964983815
4          1        50   5.0  964982931

## Series
### Exemplo:
notas['nota']

Extrai somente os valores da coluna 'nota'

.unique() -> retorna os valores únicos daquela coluna, ou seja, todos os valores que ela contém de forma única. Por exemplo, a coluna contem [2,3,4,1,2,2,4,3,2,1,1,1,4,4,4,3], a função irá retornar array([2. , 3. , 4. , 1.])

In [9]:
notas['nota']

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [10]:
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

.value_counts() -> conta quantas vezes cada valor apareceu

In [11]:
notas['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

.mean() -> média

In [12]:
notas['nota'].mean()

3.501556983616962